<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
        
    <br><br>

    <div class="row">
        <div class="col-md-12">
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Cambio de password</h3>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <form [formGroup]="form" (ngSubmit)="cambiar()">
            <div class="row">
              <div class="col-md-10">
                  <div class="form-group">
                      <label for="nombre">Nueva Password</label>
                      <input [type]="input1" class="form-control" id="nombre" formControlName="pass1">
                      <div *ngIf="form.controls['pass1'].errors?.required" style="color:red;">
                        Este campo es requerido.
                      </div>
                    </div>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary" style="margin-top:30px;" (click)="verPassword1()">Ver</button>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-10">
                  <div class="form-group">
                      <label for="nombre">Repita Password</label>
                      <input [type]="input2" class="form-control" id="nombre" formControlName="pass2">
                      <div *ngIf="form.controls['pass2'].errors?.required" style="color:red;">
                        Este campo es requerido.
                      </div>
                    </div>
              </div>
              <div class="col-md-2">
                  <button type="button" class="btn btn-primary" style="margin-top:30px;" (click)="verPassword2()">Ver</button>
              </div>
            </div>

            <div id="rules" *ngIf="cerrarRules">
                <p id="space">
                    Debe tener al menos:
                  </p>
                  <ul id="space">
                    <li>10 caracters.</li>
                    <li>1 mayuscula.</li>
                    <li>1 minuscula.</li>
                    <li>1 numero.</li>
                    <li>1 caracter especial.</li>
                    (@$!%*?&)
                  </ul>
            </div>
              <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.valid">Actualizar password</button>
          </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
