<!doctype html>
<html lang="en">
  <head>
    <title>Cuentas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
         
    <br><br>

    <div class="row">
        <div class="col-md-12">
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Cuentas</h3>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <label for="exampleFormControlInput1">Busqueda por numero de cuenta:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Numero de cuenta" [(ngModel)]="numero_cuenta">
          
      </div>
      <div class="col-md-4" style="margin-top:33px;margin-left:-25px;">
          <button type="button" class="btn btn-primary" (click)="buscar()">
              Buscar
          </button>
      </div>
    </div>

    <br><br>

    <div class="row" *ngIf="cantidad==0">
      <div class="col-md-10">
        <div class="alert alert-danger" role="alert">
          No se encontraron cuentas.
        </div>
      </div>
    </div>

    <div class="row" *ngIf="cantidad!=0">
      <div class="col-md-12"></div>
      <div class="col-md-11">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Carnet</th>
                  <th scope="col">Numero de cuenta</th>
                  <th scope="col">Saldo</th>
                  <th scope="col">Estado de cuenta</th>
                  <th scope="col">Estado de usuario</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of cuentas| paginate:{id: 'listing_pagination',
                itemsPerPage: 1,
                currentPage: page,
                totalItems: cantidad}; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td scope="col">{{c.nombre}}</td>
                  <td scope="col">{{c.apellidos}}</td>
                  <td scope="col">{{c.carnet}}</td>
                  <td scope="col">{{c.numero_cuenta}}</td>
                  <td scope="col">{{c.saldo}} Bs.</td>

                  <td scope="col">
                    <span class="badge badge-success" *ngIf="c.estado_de_la_cuenta==0">Activo</span>
                    <span class="badge badge-danger" *ngIf="c.estado_de_la_cuenta==1">Inactivo</span>
                  </td>
                  
                  <td scope="col">
                    <span class="badge badge-success" *ngIf="c.estado_del_ususario==0">Activo</span>
                    <span class="badge badge-danger" *ngIf="c.estado_del_ususario==1">Inactivo</span>
                  </td>

                  <td scope="col">
                    <p *ngIf="c.nombre_carrera=='Sin carrera'">Proveedor</p>
                    <p *ngIf="c.nombre_carrera!='Sin carrera'">Estudiante</p>
                  </td>
                  <td scope="col">
                      <button type="button" class="btn btn-outline-primary" *ngIf="c.estado_de_la_cuenta==1" (click)="activarCuenta(c.cuenta_id)">Activar</button>
                      <button type="button" class="btn btn-outline-danger" *ngIf="c.estado_de_la_cuenta==0" (click)="eliminarCuenta(c.cuenta_id)">Eliminar</button>
                      <button type="button" class="btn btn-outline-success" *ngIf="c.nombre_carrera!='Sin carrera' && c.saldo!=0" (click)="preguntar(c)">Retirar</button>
                  </td>
                </tr>

                
              </tbody>
            </table>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row" *ngIf="cantidad!=0">
        <div class="col-md-12">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    

    <br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
