<!doctype html>
<html lang="en">
  <head>
    <title>Registro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
      <br><br>

      <div class="row">
          <div class="col-md-12">
            <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">{{tituloPage}}</h3>
          </div>
        </div>
        <br>

      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
              <div *ngIf="form.controls['nombre'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" formControlName="apellidos">
              <div *ngIf="form.controls['apellidos'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="canet">Carnet</label>
              <input type="number" class="form-control" id="canet" formControlName="carnet">
              <div *ngIf="form.controls['carnet'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="correo">Correo</label>
              <input type="email" class="form-control" id="correo" formControlName="correo">
              <div *ngIf="form.controls['correo'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
              <div *ngIf="form.controls['correo'].errors?.pattern" style="color:red;">
                Ingrese un correo valido.
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="telefono">Telefono</label>
              <input type="number" class="form-control" id="telefono" formControlName="telefono">
              <div *ngIf="form.controls['telefono'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="fecha_nacimiento">Fecha de nacimiento</label>
              <input type="date" class="form-control" id="fecha_nacimiento" value="1995-01-01" min="1990-01-01" [max]="dateMax" formControlName="fecha_nacimiento">
              <div *ngIf="form.controls['fecha_nacimiento'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group" *ngIf="tipo=='estudiante' && seRegistra">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Carrera</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="carrera">
                  <option *ngFor="let c of carreras" [value]="c.carrera_id" [selected]="c.nombre == 'Sin carrera'">
                    {{c.nombre}}
                  </option>
                </select>
              </div>
              <div *ngIf="form.controls['carrera'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-block" *ngIf="mostrarActivar" (click)="activarUsuario()">Activar</button>            
            <button type="button" class="btn btn-primary btn-block" (click)="registrar()" [disabled]="!form.valid">{{tituloBoton}}</button>
          </div>
        </div>
      </form>

      <br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
