<!doctype html>
<html lang="en">
  <head>
    <title>Editar Mensualidad</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
      <br><br>

      <div class="row">
        <div class="col-md-1" style="margin-top:15px;">
            <button type="button" class="btn btn-primary" (click)="atras()">
                <svg class="bi bi-arrow-left-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                  <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                </svg>
            </button>
        </div>
          <div class="col-md-11" style="margin-left:-50px;">
            <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Editar mensualidad</h3>
            <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Gestion: {{gestion_padre.semestre}} {{gestion_padre.ano}}</h3>
          </div>
        </div>
        
        <br>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="editarDatos()">
            <label class="custom-control-label" for="customSwitch1">Editar</label>
          </div>
          <br>

      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nombre">Nombre de la mensualidad</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
              <div *ngIf="form.controls['nombre'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group">
              <label for="fecha_pago">Fecha limite de pago</label>
              <input type="date" class="form-control" id="fecha_pago" formControlName="fecha_pago">
              <div *ngIf="form.controls['fecha_pago'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            
            <label for="monto">Monto</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" formControlName='monto' aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">Bs.</span>
                </div>
            </div>
            <div *ngIf="form.controls['monto'].errors?.required" style="color:red;">
                Este campo es requerido.
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-block" (click)="editar()" [disabled]="!form.valid || ver">Editar mensualidad</button>
          </div>
        </div>
        <div class="col-md-4"></div>
      </form>

      <br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
