<!doctype html>
<html lang="en">
  <head>
    <title>Gestiones</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
         
    <br><br>

    <div class="row">
        <div class="col-md-12">
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Gestiones</h3>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <label for="exampleFormControlInput1">Busqueda por año:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Año de gestion" [(ngModel)]="ano">
          
      </div>
      <div class="col-md-4" style="margin-top:33px;margin-left:-25px;">
          <button type="button" class="btn btn-primary" (click)="buscar()">
              Buscar
          </button>
      </div>
    </div>

    <br><br>

    <div class="row" *ngIf="cantidad==0">
      <div class="col-md-10">
        <div class="alert alert-danger" role="alert">
          No se encontraron gestiones.
        </div>
      </div>
    </div>

    <div class="row" *ngIf="cantidad!=0">
      <div class="col-md-12"></div>
      <div class="col-md-11">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Semestre</th>
                  <th scope="col">Año</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let g of gestiones| paginate:{id: 'listing_pagination',
                itemsPerPage: 1,
                currentPage: page,
                totalItems: cantidad}; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td scope="col">{{g.semestre}}</td>
                  <td scope="col">{{g.ano}}</td>
                  <td scope="col">
                      <span class="badge badge-success" *ngIf="g.estado==0">Activo</span>
                      <span class="badge badge-danger" *ngIf="g.estado==1">Eliminado</span>
                    </td>

                  <td scope="col">
                      <button type="button" class="btn btn-outline-primary"  (click)="irAgregar(g)">Agregar mensualidades</button>
                      <button type="button" class="btn btn-outline-primary"  (click)="irVer(g)">Ver mensualidades</button>
                      <button type="button" class="btn btn-outline-success"  (click)="verPagosGestion(g)">Ver pagos de la gestion</button>
                      <button type="button" class="btn btn-outline-success" *ngIf="g.estado==1" (click)="activarGestion(g.gestion_id)">Activar</button>
                      <button type="button" class="btn btn-outline-danger" *ngIf="g.estado==0" (click)="eliminarGestion(g.gestion_id)">Eliminar</button>
                  </td>
                </tr>

                
              </tbody>
            </table>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row" *ngIf="cantidad!=0">
        <div class="col-md-12">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    
     <br>

     <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="irRegistro()">Registrar gestion</button>
      </div>
      <div class="col-md-4"></div>
    </div>


    <br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
