<!doctype html>
<html lang="en">
  <head>
    <title>Registro de Gestiones</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
      <br><br>

      <div class="row">
          <div class="col-md-12">
            <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Registro de gestion</h3>
          </div>
        </div>
        <br>

      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Semestre</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="semestre">
                  <option value="primer semestre">primer semestre</option>
                  <option value="segundo semestre">segundo semestre</option>
                  <option value="anual">anual</option>
                </select>
              </div>
              <div *ngIf="form.controls['semestre'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            <br>
            <div class="form-group">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Año</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="ano">
                  <option *ngFor="let a of anos" [value]="a">
                      {{a}}
                    </option>
                </select>
              </div>
              <div *ngIf="form.controls['ano'].errors?.required" style="color:red;">
                Este campo es requerido.
              </div>
            </div>
            
            <br>
            <button type="button" class="btn btn-primary btn-block"  (click)="registrarGestion()">Registrar</button>            
          </div>
          
        </div>
        <div class="col-md-4"></div>
      </form>

      <br><br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
