<!doctype html>
<html lang="en">
  <head>
    <title>Usuarios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
      <p style="color: white" > Espere... </p>
    </ngx-spinner>
<br><br>
    
    <div class="row">
      <div class="col-md-12">
        <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Usuarios</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <label for="exampleFormControlInput1">Busqueda por carnet de identidad:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Carnet Estudiante" [(ngModel)]="carnet">
          
      </div>
      <div class="col-md-4" style="margin-top:33px;margin-left:-25px;">
          <button type="button" class="btn btn-primary" (click)="buscar()">
              Buscar
          </button>
      </div>
    </div>

    <br><br>

    <div class="row" *ngIf="cantidad==0">
      <div class="col-md-10">
        <div class="alert alert-danger" role="alert">
          No se encontraron usuarios.
        </div>
      </div>
    </div>

    <!--<div class="row" style="margin-left:-100px;margin-right:100px;">-->
    <div class="row" *ngIf="cantidad!=0">
      <div class="col-md-12">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Carnet</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Fecha de nacimiento</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of usuarios | paginate:{id: 'listing_pagination',
                                                      itemsPerPage: 1,
                                                      currentPage: page,
                                                      totalItems: cantidad}; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td scope="col">{{u.nombre}}</td>
                  <td scope="col">{{u.apellidos}}</td>
                  <td scope="col">{{u.carnet}}</td>
                  <td scope="col">{{u.correo}}</td>
                  <td scope="col">{{u.telefono}}</td>
                  <td scope="col">{{u.rol}}</td>
                  <td scope="col">{{u.fecha_nacimiento}}</td>
                  <td scope="col">
                    <span class="badge badge-success" *ngIf="u.estado==0">Activo</span>
                    <span class="badge badge-danger" *ngIf="u.estado==1">Inactivo</span>
                  </td>
                  <td scope="col">
                      <button type="button" class="btn btn-outline-primary" (click)="editar(u)">Editar</button>
                      <button type="button" class="btn btn-outline-danger" *ngIf="u.estado==0" (click)="eliminar(u)">Eliminar</button>
                      
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
    <br>
      <div class="row" *ngIf="cantidad!=0">
        <div class="col-md-12">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event" ></pagination-controls>
        </div>
      </div>
    
    <br>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="irRegistro()" previousLabel="Anterior"
          nextLabel="Siguiente">Registrar estudiante</button>
      </div>
      <div class="col-md-4"></div>
    </div>

    <br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
