<!doctype html>
<html lang="en">
  <head>
    <title>Deposito</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
    <br><br>
    
    <div class="row">
        <div class="col-md-12">
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Deposito</h3>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <label for="exampleFormControlInput1">Busqueda por carnet de identidad:</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="carnet" placeholder="Carnet estudiante  " [disabled]="mostrar">
          
      </div>
      <div class="col-md-4" style="margin-top:33px;margin-left:-25px;">
          <button type="button" class="btn btn-primary" (click)="buscar()">
              Buscar
          </button>
      </div>
    </div>
    <br>

    <div class="row" *ngIf="mostrarSpinner">
      <div class="col-md-5"></div>
      <div class="col-md-2 margen-spinner">
          <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
          </div>
      </div>
      <div class="col-md-5"></div>
    </div>


    <div class="row" *ngIf="mostrar">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Datos del estudiante
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p class="card-text espaciado"><Strong>Nombre:</Strong> {{dataUsuario.nombre}}</p>
                <p class="card-text espaciado"><Strong>Apellidos:</Strong> {{dataUsuario.apellidos}}</p>
                <p class="card-text espaciado"><Strong>Carnet:</Strong> {{dataUsuario.carnet}}</p>
                <p class="card-text espaciado"><Strong>Correo:</Strong> {{dataUsuario.correo}}</p>
              </div>
              <div class="col-md-6">
                <p class="card-text espaciado"><Strong>Telefono:</Strong> {{dataUsuario.telefono}}</p>
                <p class="card-text espaciado" *ngIf="dataUsuario.cuentas!=null"><Strong>Cuenta:</Strong> {{dataUsuario.cuentas[0].numero_cuenta}}</p>
                <p class="card-text espaciado" *ngIf="dataUsuario.cuentas!=null"><Strong>Saldo:</Strong> {{dataUsuario.cuentas[0].saldo | number:'1.2-2'}}</p>
                <p class="card-text espaciado" *ngIf="dataUsuario.cuentas==null"><Strong>Cuenta:</Strong> No tiene</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <br>

    <div class="row" *ngIf="mostrar">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form [formGroup]="form" (ngSubmit)="depositar()">
            <div class="form-group">
                <label for="monto">Monto</label>
                <input type="number" class="form-control" formControlName="monto" id="monto" [(ngModel)]="monto">
                <div *ngIf="form.controls['monto'].errors?.required" style="color:red;">
                    Este campo es requerido.
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block" [disabled]='!form.valid'>Depositar</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>

    <br><br>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
