<!doctype html>
<html lang="en">
  <head>
    <title>Inicio de sesion</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      
    <ngx-spinner bdColor= "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
      <p style="color: white" > Espere... </p>
    </ngx-spinner>

    <div class="container">
      <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
    
              <!-- form card login -->
              <div class="card rounded shadow shadow-sm">
                <div class="card-header">
                  <h3 class="mb-0" style="font-family: 'Lobster', cursive;">Login</h3>
                </div>
                <div class="card-body">
                  <form [formGroup]="form" (ngSubmit)="ingresar()">
                    <div class="form-group">
                      <label for="uname1">Carnet</label>
                      <input type="number" class="form-control form-control-lg rounded-0" name="carnet" id="carnet" formControlName="carnet" required>
                      <div *ngIf="form.controls['carnet'].errors?.required" style="color:red;">
                        Este campo es requerido.
                      </div>
                    </div>
                    <div class="form-group">
                      
                      <label>Password</label>
                      <div class="input-group mb-2">
                          <input [type]="passtype" class="form-control form-control-lg rounded-0"  formControlName="password" id="password" required>                  
                          <div class="input-group-append">
                            <button type="button" class="input-group-text" (click)="verPassword()">
                                <svg class="bi bi-eye" *ngIf="icono_ojo" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"/>
                                  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"/>
                                </svg>
                                <svg class="bi bi-eye-slash" *ngIf="!icono_ojo" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 00-2.79.588l.77.771A5.944 5.944 0 018 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0114.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                  <path d="M11.297 9.176a3.5 3.5 0 00-4.474-4.474l.823.823a2.5 2.5 0 012.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 01-4.474-4.474l.823.823a2.5 2.5 0 002.829 2.829z"/>
                                  <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 001.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 018 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                                  <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                          </div>
                        </div>
                      
                      <div *ngIf="form.controls['password'].errors?.required" style="color:red;">
                        Este campo es requerido.
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin" [disabled]='!form.valid'>Login</button>
                    <br><br><br>
                    <a href="javascript:void(0)" style="text-decoration-line:underline;" (click)="recuperar()">Olvide mi password</a>
                  </form>
                </div>
                <!--/card-block-->
              </div>
              <!-- /form card login -->
    
            </div>
    
    
          </div>
          <!--/row-->
    
        </div>
        <!--/col-->
      </div>
      <!--/row-->
    </div>
    <!--/container-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
