<!doctype html>
<html lang="en">
  <head>
    <title>Mensualidades</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" fullScreen = "true">
          <p style="color: white" > Espere... </p>
        </ngx-spinner>
         
    <br><br>

    <div class="row">
        <div class="col-md-1" style="margin-top:15px;">
            <button type="button" class="btn btn-primary" (click)="atras()">
                <svg class="bi bi-arrow-left-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                  <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
                </svg>
            </button>
        </div>
        <div class="col-md-11" style="margin-left:-50px;">
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Mensualidades</h3>
          <h3 style="margin-left:50px;text-decoration-line: underline;font-family: 'Lobster', cursive;">Gestion: {{gestion_padre.semestre}} {{gestion_padre.ano}}</h3>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <label for="exampleFormControlInput1">Busqueda por nombre de mensualidad:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la mensualidad" [(ngModel)]="nombre_mensualidad">
          
      </div>
      <div class="col-md-4" style="margin-top:33px;margin-left:-25px;">
          <button type="button" class="btn btn-primary" (click)="buscar()">
              Buscar
          </button>
      </div>
    </div>

    <br><br>

    <div class="row" *ngIf="cantidad==0">
      <div class="col-md-10">
        <div class="alert alert-danger" role="alert">
          No se encontraron mensualidades.
        </div>
      </div>
    </div>

    <div class="row" *ngIf="cantidad!=0">
      <div class="col-md-12"></div>
      <div class="col-md-11">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha de pago</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of mensualidades| paginate:{id: 'listing_pagination',
                itemsPerPage: 1,
                currentPage: page,
                totalItems: cantidad}; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td scope="col">{{m.nombre}}</td>
                  <td scope="col">{{m.fecha_pago}}</td>
                  <td scope="col">{{m.monto}}</td>
                  <td scope="col">
                      <button type="button" class="btn btn-outline-primary"  (click)="editarMensualidad(m)">Editar</button>
                      <button type="button" class="btn btn-outline-success"  (click)="verPagos(m)">Pagos de la mensualidad</button>
                  </td>
                </tr>

              </tbody>
            </table>
      </div>
      <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row" *ngIf="cantidad!=0">
        <div class="col-md-12">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    

    <br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
