<!doctype html>
<html lang="en">
  <head>
    <title>Menu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid" *ngIf="nav.visible">
        <div class="jumbotron" *ngIf="nav.rol=='administrador'">
            <h1 class="display-4" style="font-family: 'Lobster', cursive;">Billetera Movil Administrador</h1>
        </div>
        <div class="jumbotron" *ngIf="nav.rol=='superadmin'">
          <h1 class="display-4" style="font-family: 'Lobster', cursive;">Billetera Movil Super Administrador</h1>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light sin-espacio" *ngIf="nav.visible">
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item-select">
                <a class="nav-link" [routerLink]="['/usuarios']" tabindex="-1">Usuarios</a>
            </li>
            <li class="nav-item" *ngIf="nav.rol=='superadmin'">
              <a class="nav-link" [routerLink]="['/administradores']" tabindex="-1">Admins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cuentas']" tabindex="-1">Cuentas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/retiro']" tabindex="-1">Retiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/deposito']" tabindex="-1">Deposito</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/afiliacion']" tabindex="-1">Afiliacion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/gestiones']" tabindex="-1">Gestiones</a>
                </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/perfil']" tabindex="-1">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']" tabindex="-1">Salir</a>
                </li>
            </ul>
        </form>
      </div>
    </nav>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
  </body>
</html>
